.banner-container{
    width: 100%;
    height: 32rem;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-around;
    
}
.banner-container .inner-card{
    width: 100px;
    height: 100px;
    /* background-color: red; */
}